@import "./theme/cssreset.css";
@import "./theme/fonts/fonts.css";

* {
  box-sizing: border-box;
  font-family: NimbusCEZ;
}

a:-webkit-any-link {
  text-decoration: none;
}

*:focus { 
  outline: 0.1rem solid  rgb(242, 79, 0); 
}

*:focus:hover { outline: none; }

html {
  /* setting the baseline. 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
